<% if VisualI18n.store_phrases? %>
  <div id="phrasesMenu" class="phrases-menu <%= VisualI18n.config.repository.name.demodulize.parameterize %>">
    <div class="phrases-menu__header">
      <a href="javascript:void(0)" class="phrases-menu__closebtn" onclick="closeNav()">&times;</a>
      <h1 class="phrases-menu__title">Visual Phrases</h1>
      <div class="phrases-menu__info">
        Repository <%= VisualI18n.config.repository.name.demodulize.humanize %> | <b><%= VisualI18n.locale %></b>
      </div>
    </div>

    <% VisualI18n.phrases.each do |phrase| %>
      <div class="phrases-menu__block">
        <div class="phrases-menu__key">
          <%= phrase.code %>
        </div>

        <div class="phrases-menu__phrase">
          <%= phrase.text %>
        </div>

        <%= render "visual_i18n/#{VisualI18n.config.repository.name.demodulize.parameterize}/actions",
                   phrase: phrase %>
      </div>
    <% end %>
  </div>

  <a class="open-phrases-menu-btn" onclick="openNav()">
    Phrases
    <span class="open-phrases-menu-btn--language">[<%= VisualI18n.locale %>]</span>
  </a>
<% end %>
