<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="options-selector">
      <b>Repositories: </b>
      <%= link_to 'Local', local_samples_path %> |
      <%= link_to 'OneSky', onesky_samples_path %>
    </div>

    <div class="options-selector">
      <b>Languages: </b>
      <%= link_to 'English', { locale: 'en' } %> |
      <%= link_to 'Spanish', { locale: 'es-ES' } %>
    </div>

    <%= yield %>

    <%= render rosetta_menu %>
  </body>
</html>
