<div class="phrases-menu__header">
  <h1 class="phrases-menu__title">
    <%= Rosetta.repository.label %> <b>[<%= @selected_locale %>]</b>
  </h1>
</div>

<%= render 'rosetta/phrases_list', repository_id: Rosetta.repository.id %>

<%= render 'rosetta/footer' %>

<script type="application/javascript">
  var phrases = <%= @phrases.map(&:serialize).to_json.html_safe %>;
  initPhrasesList('#phrases-list', phrases);
</script>
