<ul>
  <li><%= t('hello', scope: [:samples, :index]) %></li>
  <li><%= t('common.text') %></li>
  <li><%= t('common.not_found') %></li>
  <li><%= t('common.editable', editable: true) %></li>
  <%= render 'sample_partial' %>
</ul>
