<% if rosetta? %>
  <%= stylesheet_link_tag 'rosetta/application' %>
  <%= javascript_include_tag 'rosetta/application' %>

  <div id="phrasesMenu" v-bind:class="{ open: menuOpened }" class="phrases-menu <%= Rosetta.repository.id %>">
    <div class="open-phrases-menu-btn" v-on:click="toggleNav">
      <div class="phrases-menu__openbtn">
        <%= image_tag('rosetta/language_icon.svg') %>
      </div>

      <div class="phrases-menu__closebtn">
        <%= image_tag('rosetta/close.svg') %>
      </div>
    </div>

    <div class="phrases-menu__header">
      <h1 class="phrases-menu__title">
        <%= Rosetta.repository.label %> <b>[<%= Rosetta.locale %>]</b>
      </h1>
      <%= link_to 'All Phrases', rosetta.phrases_path %>
    </div>

    <div class="phrases-menu__content">
      <%= render 'rosetta/phrases_list', repository_id: Rosetta.repository.id %>

      <%= render 'rosetta/footer' %>
    </div>
  </div>

  <script type="application/javascript">
    var phrases = <%= Rosetta.phrases.map(&:serialize).to_json.html_safe %>;
    initPhrasesList('#phrasesMenu', phrases);
  </script>
<% end %>
