<% if rosetta? %>
  <%= stylesheet_link_tag 'rosetta/application' %>

  <div id="phrasesMenu" class="phrases-menu <%= Rosetta.repository.id %>">
    <div class="open-phrases-menu-btn" onclick="toggleNav()">
      <div class="phrases-menu__openbtn">
        <%= image_tag('rosetta/language_icon.svg') %>
      </div>
      <div class="phrases-menu__closebtn">
        <%= image_tag('rosetta/close.svg') %>
      </div>
    </div>
    <div class="phrases-menu__header">
      <h1 class="phrases-menu__title">
        <%= Rosetta.repository.label %> <b>[<%= Rosetta.locale %>]</b>
      </h1>
    </div>
    <div class="phrases-menu__content">
      <p class="phrases-menu__intro">
        Select any text in the page to search the corresponding translation.
      </p>
      <div class="phrases-menu__search"></div>
      <% Rosetta.phrases.each do |phrase| %>
        <%= render "rosetta/#{Rosetta.repository.id}/actions",
                   phrase: phrase %>
      <% end %>

      <div class="phrases-menu__footer">
        <h1>Rosetta</h1>
        <p>Rosetta is available as open source under the terms of the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
        <p><a href="https://github.com/MarsBased/rosetta" target="_blank">View in Github</a></p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    /* Toggle the Translate menu */
    $( document ).ready(function() {
      var outPhrasesMenu = true;

      var searchSelectedText = function(){
        var text = window.getSelection().toString();
        if (text != ''){
          var $matches = $( "div:contains('"+text+"')" ).parent('.phrases-menu__block');

          $('.phrases-menu__block').addClass('hide');
          $matches.removeClass('hide');
          $('.phrases-menu__search').html('<u>Search</u>: ' + text);

          if($matches.length > 0){
            $('.phrases-menu').addClass('match-phrase');
          }else{
            $('.phrases-menu').addClass('unmatch-phrase');
            $('.phrases-menu').removeClass('match-phrase');
          }
        }else{
          $('.phrases-menu__block').removeClass('hide');
          $('.phrases-menu__search').html('');
          $('.phrases-menu').removeClass('unmatch-phrase');
          $('.phrases-menu').removeClass('match-phrase');
        }
      }
      $('*').mouseup(function() {
        if(outPhrasesMenu){
          searchSelectedText();
        }
      });

      $('#phrasesMenu').on('mouseenter', function(e){
        console.log('#phrasesMenu', 'mouseenter');
        outPhrasesMenu = false;
      })

      $('#phrasesMenu').on('mouseleave', function(e){
        console.log('#phrasesMenu', 'mouseleave');
        outPhrasesMenu = true;
      })
    });
    function toggleNav() {
      document.getElementById("phrasesMenu").classList.toggle("open");
    }
  </script>
<% end %>
